.header {
    text-align: center;
  
}

.header a{
    text-decoration: none;
    color:white;
    margin-right: 20px;
    font-size: 20px;
    padding:5px;
 
}
.header a:hover{
    background-color: rgba(0, 0, 0, 0.171);
}
.header nav{
    background-color:black;
    line-height: 40px;
    height: 50px;
}
